<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="xformsDocumentManagerFact" class="com.idega.xformsmanager.business.DocumentManagerFactory" scope="singleton">
		<property name="cacheManager" ref="dmCacheManager" />
	</bean>
	
	<bean id="dmCacheManager" class="com.idega.xformsmanager.manager.impl.CacheManager" scope="singleton" />
	
	<bean id="xformsManagerFactory" class="com.idega.xformsmanager.manager.XFormsManagerFactory" scope="singleton">
		<property name="xformsManager" ref="xformsManager" />
		<property name="xformsManagerButton" ref="xformsManagerButton" />
		<property name="xformsManagerContainer" ref="xformsManagerContainer" />
		<property name="xformsManagerDocument" ref="xformsManagerDocument" />
		<property name="xformsManagerPage" ref="xformsManagerPage" />
		<property name="xformsManagerPlain" ref="xformsManagerPlain" />
		<property name="xformsManagerSelect" ref="xformsManagerSelect" />
		<property name="xformsManagerMultiUpload" ref="xformsManagerMultiUpload" /> 
		<property name="xformsManagerMultiUploadDescription" ref="xformsManagerMultiUploadDescription" /> 
		
		<property name="xformsManagerThankYouPage" ref="xformsManagerThankYouPage" />
	</bean>
	
	<bean id="htmlManagerFactory" class="com.idega.xformsmanager.manager.HtmlManagerFactory" scope="singleton">
		<property name="htmlManager" ref="htmlManager" />
	</bean>
	
	<bean id="htmlManager" class="com.idega.xformsmanager.manager.impl.HtmlManagerImpl" scope="singleton" />
	
	<bean id="xformsManager" class="com.idega.xformsmanager.manager.impl.XFormsManagerImpl" scope="singleton" />
	<bean id="xformsManagerButton" class="com.idega.xformsmanager.manager.impl.XFormsManagerButtonImpl" scope="singleton" />
	<bean id="xformsManagerContainer" class="com.idega.xformsmanager.manager.impl.XFormsManagerContainerImpl" scope="singleton" />
	<bean id="xformsManagerDocument" class="com.idega.xformsmanager.manager.impl.XFormsManagerDocumentImpl" scope="singleton" />
	<bean id="xformsManagerPage" class="com.idega.xformsmanager.manager.impl.XFormsManagerPageImpl" scope="singleton" />
	<bean id="xformsManagerPlain" class="com.idega.xformsmanager.manager.impl.XFormsManagerPlainImpl" scope="singleton" />
	<bean id="xformsManagerSelect" class="com.idega.xformsmanager.manager.impl.XFormsManagerSelectImpl" scope="singleton" />
    <bean id="xformsManagerMultiUpload" class="com.idega.xformsmanager.manager.impl.XFormsManagerMultiUploadImpl" scope="singleton" /> 
    <bean id="xformsManagerMultiUploadDescription" class="com.idega.xformsmanager.manager.impl.XFormsManagerMultiUploadDescriptionImpl" scope="singleton" /> 
    
	
	
	
	
	<bean id="xformsManagerThankYouPage" class="com.idega.xformsmanager.manager.impl.XFormsManagerThankYouPageImpl" scope="singleton" />
	
</beans>